* {
  padding: 0;
  margin: 0;
  font-family: 'Figtree', sans-serif;
}

body {
  background-color: #F4D04E;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background-color: white;
  width: min-content;
  border-radius: 5%;
  border: 1px solid black;
  padding: 1.5%;
  box-shadow: 7px 7px;
}

.content > * {
  margin-bottom: 10px;
}

.img-post {
  width: 320px;
  border-radius: 3%;
}

.tag-post {
  background-color: #F4D04E;
  border-radius: 3px;
  width: min-content;
  padding: 5px 13px;
  font-weight: 800;
  font-size: 14px;
  margin-top: 10px;
}

.post-date {
  font-size: 14px;
  color: #111;
}

.title {
  font-size: 24px;
  font-weight: 800;
  text-decoration: none;
  color: inherit;
  display: block;
}

.title:hover {
  color: #F4D04E;
}

.description {
  font-size: 16px;
  color: #6b6b6b;
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2% 0;
}

.author-image {
  width: 32px;
  margin-right: 10px; 
}

.author-name {
  font-weight: 800;
  font-size: 14px;
}